@import "tailwindcss";

@theme {
  /* Aquí definimos la fuente caligráfica para Tailwind v4 */
  --font-caligrafica: "Great Vibes", cursive;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
  
  /* Terracota Principal (El del círculo inferior) */
  --color-terracota-dark: #a64d33; 
  /* Terracota Suave (El del círculo superior) */
  --color-terracota-light: #b07d6a;
  /* Verde Olivo Seco (El del círculo medio) */
  --color-olivo: #8e846b;
  /* Crema de fondo (El tono de las flores y encaje) */
  --color-crema: #f4f1ea;
  /* Dorado suave para detalles */
  --color-dorado-mate: #c5a059;
}

/* El link de Google Fonts también lo podemos poner aquí para asegurar */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');